
.root {
  border: 1px solid var(--gray-1);
  border-radius: 0.75rem;
  overflow-x: auto;
  background-color: var(--white);

  th {
    text-transform: none;
    line-height: 2.75rem;
    font-weight: 500;
    font-size: 0.75rem;
  }
}
