
.root {
  border: 1px solid var(--gray-1);
  border-radius: 0.75rem;
  overflow: hidden;
  background-color: var(--white);
  min-width: 80rem;
}

.head {
  background-color: var(--gray-6);
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--gray-4);
}

.row {
  display: grid;
  grid-template-columns: 6.25rem 12.5rem 11.25rem 1fr 1fr 8rem 8rem 4.25rem
}

.cell {
  align-self: center;
  white-space: nowrap;
  padding: 1rem 0 1rem 1.5rem;
}

.body {
  .row {
    border-bottom: 1px solid var(--gray-1);
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background-color: var(--gray-6);
    }
  }
  .cell {
    font-size: 0.875rem;
    color: var(--blue-1);
  }
}
