.wrapper {
  width: 5rem;
  background-color: #ffffff;
  border-right: 1px solid #eaecf0;
  &.expanded {
    width: 17.5rem;
  }
}

.sidebar {
  padding: 2rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  padding-bottom: 2rem;
  padding-left: 0.5rem;
}

.nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  :global {
    .w-fit {
      width: unset;
    }
  }
}

.navItem {
  position: relative;
  height: 3rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
  cursor: pointer;
  user-select: none;
  &:hover {
    background-color: #f9fafb;
  }

  &Text {
    font-weight: 500;
    color: #344054;
    white-space: nowrap;
  }
  &Icon {
    min-height: 1.5rem;
    min-width: 1.5rem;
  }

  &Bordered {
    border-top: 1px solid #eaecf0;
    height: 4.5rem;
    border-radius: 0;
  }
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #f2f4f7;
}

.user {
  color: #344054;
}

.userName {
  font-weight: 600;
}

.userLogo {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.space {
  flex-grow: 2;
}
